<% if @action == :create
       @url_suffix = 'add_category'
       @label_text = 'Nazwa nowej kategorii:'
   end %>

<% if @action == :edit
       @url_suffix = 'edit_category/' + @category_id
       @label_text = 'Nowa nazwa kategorii:'
   end %>
<form name="category_form" action="http://len.iem.pw.edu.pl:4577/<%= @url_suffix  %>" method="POST">
        <div class="form-group">
            <label for="category_name"><%= @label_text  %></label>
            <input class="form-control" id="category_name" type="text" name="category_name">
        </div>
            <div class="form-group">
                <input class="btn btn-primary" id="submit" type="submit" value="Submit">
            </div>
</form>

