<% @category_list.each do |category|  %>
    <div class="span6">
        <ul class="nav nav-tabs nav-stacked">
            <li>
                <h2><%= category['category_name'] %></h2>
                <% if category['category_id'] != 0  %>
                <button type="button" class="btn btn-danger pull-right" val="<%= category['category_id'] %>">
                    Usuń
                </button>
                <button type="button" class="btn btn-primary pull-right edit" val="<%= category['category_id']  %>">
                    Edytuj
                </button>
                <% end  %>
                <button type="button" class="btn btn-primary pull-right show-notes" val="<%= category['category_id'] %>">
                     Pokaż notatki
                </button>
            </li>
        </ul>
    </div>
<% end %>
