<form name="edit_note_form" action="http://len.iem.pw.edu.pl:4577/edit_note/<%= @note['note_id']  %>" method="POST">
        <div class="form-group">
            <label for="title">Tytuł:</label>
            <input class="form-control" id="title" type="text" name="title" value="<%= @note['title']  %>">
        </div>
            <div class="form-group">
                <label for="category">Kategoria:</label>
                <select class="form-control" id="category" name="category">
                <% @category_list.each do |category| %>
                    <option value="<%= category['category_id'] %>">
                        <%= category['category_name'] %>
                    </option>
                <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="tags">Tagi:</label>
                <% if @note['tags'].respond_to?(:each) %>
                    <input class="form-control" id="tags" type="text" name="tags" 
                        value="<% @note['tags'].each do |tag|%><%= tag  %> <% end %>">
                <% else %>
                    <input class="form-control" id="tags" type="text" name="tags" value="<%= @note['tags'] %>">
                <% end  %>
            </div>
            <div class="form-group">
                <label for="content">Treść:</label>
                <textarea class="form-control" id="content" name="content" cols="60" rows="20"><%= @note['content']  %></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" id="submit" type="submit" value="Submit">
            </div>
</form>

