<!doctype html>
<html lang="pl">
<head>
    <title>Notes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery-2.0.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Note Client</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notatki<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="get_notes">Wyświetl listę notatek</a></li>
                  <li><a href="#" id="create_note">Utwórz notatkę</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="get_categories">Wyświetl listę kategorii</a></li>
                  <li><a href="#" id="add_category">Dodaj nową kategorię</a></li>
                </ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tagi<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="get_tags">Wyświetl listę tagów</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div id="body" class="col-md-4">
            </div>
        </div>
    </div>

</body>
</html>
