<!--div class="well" -->
    <h1>Tytuł: <%= @note['title']%></h1>
    <% if @note['tags'].respond_to?(:each) %>
        <p class="note-tags">
            Tagi: <% @note['tags'].each do |tag| %>
                <span class="label label-info">#<%= tag  %></span>
            <% end %>
        </p>
    <% else %>
        <p class="note-tags">Tagi: <%= @note['tags']%></p>
    <% end %>
        <p class="note-title">Treść: <%= @note['content']%></p>
<!--/div -->
