<form name="create_message_form" action="http://len.iem.pw.edu.pl:4577/create_note" method="POST">
        <div class="form-group">
            <label for="title">Tytuł:</label>
            <input class="form-control" id="title" type="text" name="title">
        </div>
            <div class="form-group">
                <label for="category">Kategoria:</label>
                <select class="form-control" id="category" name="category">
                <% @category_list.each do |category| %>
                    <option value="<%= category['category_id'] %>">
                        <%= category['category_name'] %>
                    </option>
                <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="tags">Tagi:</label>
                <input class="form-control" id="tags" type="text" name="tags">
            </div>
            <div class="form-group">
                <label for="content">Treść:</label>
                <textarea class="form-control" id="content" name="content" cols="60" rows="20"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" id="submit" type="submit" value="Submit">
            </div>
</form>

