<% @note_list.each do |note|  %>
    <div class="span6">
        <ul class="nav nav-tabs nav-stacked">
            <li>
                <%@category = @category_list.detect {|c| c['category_id'] == note['category_id']} %>
                <strong><%= @category['category_name'] %>: </strong>
                <%= note['title']  %>
                <span class="label label-info pull-right"><%= note['create_time'] %></span>
                <button type="button" class="btn btn-primary btn-sm read-note" value="<%= note['note_id']  %>">Pokaż</button>
                <button type="button" class="btn btn-primary btn-sm edit-note" value="<%= note['note_id']  %>">Edytuj</button>
                <button type="button" class="btn btn-danger btn-sm delete-note" value="<%= note['note_id']  %>">Usuń</button>
            </li>
        </ul>
    </div>
<% end %>
