<% @tag_list.each do |tag|  %>
    <div class="span6">
        <ul class="nav nav-tabs nav-stacked">
            <li>
                <h2><%= tag %></h2>
                <button type="button" class="btn btn-primary pull-right show-notes" val="<%= tag %>">Pokaż notatki</button>
            </li>
        </ul>
    </div>
<% end %>
